@font-face {
  font-family: 'OneUISans';
  src: url('../fonts/OneUISans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
    }

    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      background: linear-gradient(90deg, #00FCFF, #00B0FF);
      background-size: cover;
      background-repeat: no-repeat;
      font-family: 'OneUISans', sans-serif;
      color: white;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
      gap: 20px;
    }

    .card {
      background: rgba(211, 211, 211, 0.3);
      border-radius: 25px;
      padding: 24px 16px;
      max-width: 320px;
      width: 100%;
      text-align: center;
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition: transform 0.3s ease;
    }
    .card img.profile-pic {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 47px;
  height: 47px;
  border-radius: 15px;
  object-fit: cover;
}

    .card h1 {
      font-size: 18px;
      margin: 0
    }

    .card p {
      font-size: 16px;
      margin: 0;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      .card {
        transform: scale(0.85);
      }
    }

    body.dark-mode {
      background: linear-gradient(90deg, #00FCFF, #00B0FF);
      color: white;
    }

    body.dark-mode .card {
      background: rgba(50, 50, 50, 0.4);
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
    }

    .project-card {
      background: rgba(211, 211, 211, 0.3);
      border-radius: 25px;
      padding: 16px 16px;
      max-width: 320px;
      width: 100%;
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition: transform 0.3s ease;
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .project-card:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .icon-title {
      display: flex;
      align-items: center;
      gap: 12px;
    }

.project-card svg {
  position: absolute;
  left: 16px;
  width: 32px;
  height: 32px;
  fill: white;
}

    .project-card h3 {
      margin: 0;
      font-size: 18px;
      text-align: center;
    }
    a.card {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a.card:visited {
  color: inherit;
}

a.card:focus,
a.card:active {
  outline: none;
  text-decoration: none;
}

a.card h1 {
  text-decoration: none;
}
